# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Zombie Atack.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Сергей\Desktop\HomeWork1-Clone\Zombie-10.04\Zombie Atack\.idea\.idea.Zombie Atack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
